*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1{
    color : #6490f0; 
    text-align: center;
}

body {
    background-size: cover; 
}

.menu {
    list-style-type: none;
    margin: 0 auto; /* Centralizar horizontalmente */
    padding: 0;
    background-color: #355a92; /* Cor de fundo do menu */
    text-align: center; /* Centralizar os itens do menu */
    justify-content: center; /* Centralizar os itens horizontalmente */
    align-items: center; /* Centralizar os itens verticalmente */
}

.menu li {
    display: inline-block;
    position: relative; /* Para posicionar o submenu */
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #1159c5; /* Cor de fundo ao passar o mouse */
}

.cont {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #d8d7e2;
}

.area {
    margin-bottom: 15px;
    color: #007bff;
}
.area button.enviar{
    color: #007bff;
}
label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.acaoBotao {
    display: none;
    color: #fff; /* Cor do texto */
    padding: 15px 25px; /* EspaÃ§amento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: none; /* Remover borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Alterar cursor ao passar por cima */
    transition: background-color 0.3s; /* Efeito de transiÃ§Ã£o */
    margin-right: 10px; /* Margem Ã  direita */
    transition: all 0.4s ease;
}
.acaoBotao:hover {
    transform: scale(1.1);
}
#botaoAcao{
    background-color: #007BFF;
}
/* Estilo do botÃ£o "SIM" */
#botaoAcao1 {
    background-color: #019e09; /* Azul */
}

/* Estilo do botÃ£o "NÃƒO" */
#botaoAcao2 {
    background-color: #DC3545; /* Vermelho */
}
.container{
    padding: 18px 32.5%;
    text-align: center;
}

.container .heading{
    text-align: center;
    color: #8890da;
    font: normal 44pt Impact;
    opacity: 100%;
    
}
.container .container-image{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 25px;
}
@keyframes fadeIn{
    0%{
        transform: translateY(-10px);
        opacity: 0;
    }
}
.container .container-image .image{
    width: 630px; /*largura */
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background-color: #d8d7e2;
    padding: 15px;
    animation: fadeIn .2s linear;
}
.container .container-image .image img{
    width: 100%;
    height: 354px; /* altura */
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 0.4s ease;
}
.container .container-image .image img:hover{
    transform: scale(1.1);
}

.container .container-image .image h3{
    font-size: 20px;
    color: #01060c;
    font: normal Impact;
}
@media (max-width: 768px) {
    .container .container-image{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 25px 20px;
    }
    .container .container-image .image{
        width: 100%;
    }
    .container #search-box{
        width: 10%;
    }
  }

@media(max-width:450px){
    .container .container-image{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 25px 20px;
    }
      .container #search-box{
        width: 1000%;
    }
    .container .container-image .image{
        width: 100%;
    }

}


/* Estilo para a tabela */
/* Estilo para a tabela */
/* Estilo para a tabela */
/* Estilo para a tabela */
/* Estilo para a tabela */
.table {
    width: 9%;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 8px; /* Bordas arredondadas */
    overflow: hidden; /* Oculta as bordas arredondadas que vÃ£o alÃ©m da tabela */
    box-shadow: 0 0 10px rgb(162 24 24 / 10%); /* Adiciona uma sombra suave */
    background-color: rgb(82 178 208 / 50%); /* Fundo com 50% de opacidade */
    font-size: 20px;
}


/* Estilo para as cÃ©lulas do cabeÃ§alho */
.table th {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estilo para a borda direita da cÃ©lula de ID */
.table th#id {
    border-right: 1px solid #000; /* Linha preta */
}

/* Estilo para as cÃ©lulas dos dados */
.table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    white-space: nowrap; 
}
.table td.id{
    padding: 50px;
    font-size: 25px;
}
.table td.imagem{
    padding: 50px;
}

/* Estilo para as linhas Ã­mpares */
.table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
.table td.image-cell img:hover {
    transition: all 0.9s ease;
}
.table td.image-cell img:hover {
    transform: scale(1.5);
}
/* Estilo para os botÃµes */
/* Estilo para o contÃªiner dos botÃµes */
.button-container {
    display: flex;
    gap: 8px; /* EspaÃ§o entre os botÃµes */
}

/* Estilo para os botÃµes */
/* Estilo para os botÃµes */
.btn {
    display: flex; /* Adiciona os botÃµes em linha */
    margin-right: 5px; /* EspaÃ§amento entre os botÃµes */
    padding: 25px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

/* Estilo para o botÃ£o de exclusÃ£o */
.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

/* Estilo para o botÃ£o de ediÃ§Ã£o */
.btn-success {
    background-color: #28a745;
    color: #fff;
}

/* Estilo para os botÃµes quando hover */
.btn:hover {
    filter: brightness(90%);
}