@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1{
    color : #6490f0; 
    text-align: center;
}

body {
    background-size: cover; 
}

.menu {
    list-style-type: none;
    margin: 0 auto; 
    padding: 0;
    background: linear-gradient(180deg,#355a92 20%, #35557c 50%, #000000 80%);
    background: -webkit-linear-gradient(180deg,#355a92 20%, #35557c 50%, #000000 80%);
    background: -moz-linear-gradient(180deg,#355a92 20%, #35557c 50%, #000000 80%);
    text-align: center; 
    justify-content: center; 
    align-items: center;
}

.menu li {
    display: inline-block;
    position: relative; 
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #1159c5; 
}

.cont {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #d8d7e2;
}

.area {
    margin-bottom: 15px;
    color: #007bff;
}
.area button.enviar{
    color: #007bff;
}
label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.acaoBotao {
    display: none;
    color: #fff; 
    padding: 15px 25px; 
    font-size: 16px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px; 
    transition: all 0.4s ease;
}
.acaoBotao:hover {
    transform: scale(1.1);
}
#botaoAcao{
    background-color: #007BFF;
}

#botaoAcao1 {
    background-color: #019e09; 
}

#botaoAcao2 {
    background-color: #DC3545;
}
.container{
    padding: 18px 32.5%;
    text-align: center;
}

.container .heading{
    text-align: center;
    color: #8890da;
    font: normal 44pt Impact;
    opacity: 100%;
    
}
.container .container-image{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 25px;
}
@keyframes fadeIn{
    0%{
        transform: translateY(-10px);
        opacity: 0;
    }
}
.container .container-image .image{
    width: 630px; /*largura */
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background-color: #d8d7e2;
    padding: 15px;
    animation: fadeIn .2s linear;
}
.container .container-image .image img{
    width: 100%;
    height: 354px; /* altura */
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 0.4s ease;
}
.container .container-image .image img:hover{
    transform: scale(1.1);
}

.container .container-image .image h3{
    font-size: 20px;
    color: #01060c;
    font: normal Impact;
}
@media (max-width: 768px) {
    .container .container-image{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 25px 20px;
    }
    .container .container-image .image{
        width: 100%;
    }
    .container #search-box{
        width: 10%;
    }
  }

@media(max-width:450px){
    .container .container-image{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 25px 20px;
    }
      .container #search-box{
        width: 1000%;
    }
    .container .container-image .image{
        width: 100%;
    }

}

.table {
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0 0 10px rgb(162 24 24 / 10%); 
    background-color: rgb(82 178 208 / 50%);
    font-size: 20px;
}

.table th {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.table th#id {
    border-right: 1px solid #000; 
}


.table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    white-space: nowrap; 
}
.table td.id{
    padding: 50px;
    font-size: 25px;
}
.table td.imagem{
    padding: 50px;
}


.table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
.table td.image-cell img:hover {
    transition: all 0.9s ease;
}
.table td.image-cell img:hover {
    transform: scale(1.5);
}

.button-container {
    display: flex;
    gap: 8px; 
}

.btn {
    display: flex; 
    margin-right: 5px; 
    padding: 25px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
}

.btn:hover {
    filter: brightness(90%);
}