@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.container-geral {
    display: flex;
    background: rgb(4, 0, 37);
}

.navbar {
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 95vh;
    padding: 40px;
}

.main-content {
    width: 99vw;
}

.container-top {
    margin: 15px 10px 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.panel-content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

.panel-content ul li {
    font-size: 15px;
    transition: 0.4s ease;
    color: white;
}

.panel-content ul li:hover {
    color: rgb(65, 58, 126);
    transform: scale(1.1);
}

.container-bottom {
    margin-top: 20px;
}