@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Montserrat:ital,wght@0,500;1,500&display=swap');


.top-bar {
    background-color: #0e2f4f; /* Azul escuro elegante */
    color: #ffffff; /* Texto branco */
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    /* position: fixed; */
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Leve sombra para destaque */
}
.content {
    margin-top: 80px; /* Espaço necessário para a top-bar + menu */
    padding: 20px;
    font-family: "Montserrat", sans-serif;
}

/* --------------------------------------------------menu------------------------------------------------------------ */

.menu {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    background-color: #f7f2ed;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    position: relative; /* Mantém a posição natural */
    z-index: 999; /* Mantém a navbar visível */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}


.menu li {
    display: inline-block;
    position: relative;
    right:25px;
}

.menu li a {
    display: block;
    /* color: #ffff; */
    color: #3b2f22;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: rgb(240, 240, 240);
}

.menu ul {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 150px;
    top: 100%;
    left: 0;
}

.menu li:hover>ul {
    display: block;
}

.menu ul li {
    display: block;
}

.menu ul li a {
    padding: 10px 15px;
}

#menu02 {
    display: none;
}

/* ----------------------------------------------container todo---------------------------------------------------------------- */


.nav-li-01 {
    right: 320px;
    display: flex;
    color: #3b2f22;
    white-space: nowrap; 
}

/* ----------------------------------------------login - painel de controle - home - contato - serviço--------------------------------------------------------------- */

.nav-li-02 {
    align-items: center;
    justify-content: center;
    display: flex;
    right: -54px;
}

/* ----------------------------------------------container nome - sair---------------------------------------------------------------- */

.logout {
    left: 355px;
    top: 8px;
    margin-left: auto;
}

.logout-container-sair {
    position: relative;
    display: inline-flex; /* Usa o flexbox para alinhar os itens horizontalmente */
    align-items: center; /* Alinha os itens verticalmente no centro */
    cursor: pointer;
    text-align: center;
}

/* ----------------------------------------------minhas compras---------------------------------------------------------------- */

.logout-2 {
    left: 365px;
    top: 8px;
    margin-left: auto;
}
.logout-container-compras {
    position: relative;
    display: inline-flex; /* Usa o flexbox para alinhar os itens horizontalmente */
    align-items: center; /* Alinha os itens verticalmente no centro */
    cursor: pointer;
    text-align: center;
}


/* ----------------------------------------------logo esquerda---------------------------------------------------------------- */

.logout-3 {
    left: -365px;
    top: 8px;
    margin-left: auto;
}

.logo-icon {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease-in-out;
}

.logout-container02 {
    position: relative;
    display: inline-flex; 
    align-items: center; 
    cursor: pointer;
    text-align: center;
}

.logo-icon:hover {
    transform: translateY(-3px);
}

/* ----------------------------------------------icons---------------------------------------------------------------- */

.logout-icon {
    margin-right: 10px; 
}

.logout-icon {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease-in-out;
}

.logout-container:hover .logout-icon {
    transform: translateY(-3px);
}

/* ----------------------------------------------menu escondido---------------------------------------------------------------- */

.logout-menu {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    background-color: #14532D;
    border-radius: 20px;
    padding: 8px 12px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.logout-container:hover .logout-menu {
    opacity: 1;
    visibility: visible;
    top: 50px;
}

/* ----------------------------------------------botao sair---------------------------------------------------------------- */

.logout-button {
    background-color: transparent;
    color: #ffffff;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.logout-button:hover {
    color: #d1d5db;
}


@media screen and (max-width: 1750px) {


    .container .container-image .image {
        width: 29vw;
        height: 34vh;
        border-radius: 5%;
        cursor: pointer;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        background-color: #d8d7e2;
        animation: fadeIn 0.3s linear;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

}

@media screen and (max-width: 1750px) {

    li {
        font-size: 15px;
    }

    .nav-li-01 {
        right: 220px;
        display: flex;
        color: white;
    }


}

@media screen and (max-width: 1660px) {

    .container .container-image .image {
        width: 42vw;
        height: 41vh;
        border-radius: 5%;
        cursor: pointer;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        background-color: #d8d7e2;
        animation: fadeIn 0.3s linear;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .container .container-image {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 1530px) {

    li {
        font-size: 15px;
    }

    .nav-li-01 {
        right: 120px;
        display: flex;
        color: white;
    }


}

@media screen and (max-width: 1460px) {

    .container .heading {
        color: #212767;
        font: normal 63pt Impact;
        opacity: 100%;
        text-shadow: 6px 4px 3px rgb(100 100 100 / 60%);
        position: relative;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid #212767;
        /* Efeito de cursor piscando */
        animation: typing 4s steps(40) 1s forwards, blink 0.75s step-end infinite;

    }

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 60%;
        }
    }

}

@media screen and (max-width: 1448px) {

    .container .heading {
        color: #212767;
        font: normal 58pt Impact;
        opacity: 100%;
        text-shadow: 6px 4px 3px rgb(100 100 100 / 60%);
        position: relative;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid #212767;
        /* Efeito de cursor piscando */
        animation: typing 4s steps(40) 1s forwards, blink 0.75s step-end infinite;

    }

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 60%;
        }
    }

}

@media screen and (max-width: 1400px) {

    .container .container-image .image {
        width: 45vw;
        /* Changed from 100% to 30vw */
        height: 40vh;
        /* Changed from 200px to 20vh */
        border-radius: 5%;
        cursor: pointer;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        background-color: #d8d7e2;
        animation: fadeIn 0.3s linear;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .container .container-image {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        height: 100%;
        padding: 0vh 1vw;
        /* Adjusted padding to use vh/vw */
    }

    .container .heading {
        color: #212767;
        font: normal 50pt Impact;
        opacity: 100%;
        text-shadow: 6px 4px 3px rgb(100 100 100 / 60%);
        position: relative;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid #212767;
        /* Efeito de cursor piscando */
        animation: typing 4s steps(40) 1s forwards, blink 0.75s step-end infinite;

    }

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 60%;
        }
    }

}

@media screen and (max-width: 1300px) {

    /* .container .heading {
        font-size: 80px;
    } */

    li {
        font-size: 15px;
    }

    .nav-li-01 {
        right: 80px;
        display: flex;
        color: white;
    }

    .container .heading {
        color: #212767;
        font: normal 50pt Impact;
        opacity: 100%;
        text-shadow: 6px 4px 3px rgb(100 100 100 / 60%);
        position: relative;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid #212767;
        animation: typing 4s steps(40) 1s forwards, blink 0.75s step-end infinite;

    }

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 60%;
        }
    }
}

@media screen and (max-width: 1200px) {
    .nav-01 {
        display: none;
    }

    .container .container-image .image {
        width: 64vw;
        height: 39vh;
        border-radius: 5%;
        cursor: pointer;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        background-color: #d8d7e2;
        animation: fadeIn 0.3s linear;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .container .container-image {

        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0vh 1vw;
    }

}


@media screen and (max-width: 1165px) {

    .container .heading {
        color: #212767;
        font: normal 50pt Impact;
        opacity: 100%;
        text-shadow: 6px 4px 3px rgb(100 100 100 / 60%);
        position: relative;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid #212767;
        animation: typing 4s steps(40) 1s forwards, blink 0.75s step-end infinite;

    }

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 65%;
        }
    }

}


.menu000 {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    background: #355a92;
    /* background: linear-gradient(180deg, #355a92 20%, #35557c 50%, #000000 80%);
    background: -webkit-linear-gradient(180deg, #000000 20%, #35557c 50%, #000000 80%);
    background: -moz-linear-gradient(180deg, #355a92 20%, #35557c 50%, #000000 80%); */
    /* background-color: #0e4f3b; */
    background-color: #f7f2ed;
    text-align: center;
    justify-content: center;
    align-items: center;
    right:65px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    /* font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal; */
}