@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media screen and (max-width: 1200px) {

    #menu02 {
        display: block;
    }

    /* Geral */
    body {
        margin: 0;
        font-family: 'Poppins', sans-serif;
    }

    #menu02 {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    #menu02-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        margin: 10px;
        position: absolute;
        left: 20px;
        /* Altera para o lado esquerdo */
        /* size: 20px; */
    }

    .bar {
        width: 30px;
        height: 3px;
        background-color: #ffffff;
        transition: all 0.3s ease-in-out;
    }

    /* Animação do menu */
    .change #bar1 {
        transform: rotate(-45deg) translate(-5px, 5px);
    }

    .change #bar2 {
        opacity: 0;
    }

    .change #bar3 {
        transform: rotate(45deg) translate(-5px, -5px);
    }

    /* Estilo do fundo do menu ao abrir */
    .menu02-bg {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 19%);
        z-index: 5;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .menu02-bg.change-bg {
        display: block;
        opacity: 1;
    }

    /* Nav geral */
    .nav {
        position: fixed;
        top: 0;
        left: -250px;
        /* Inicialmente fora da tela à esquerda */
        width: 250px;
        height: 100%;
        /* /* background-color: #000000; */
        background: linear-gradient(0deg, #0008ff 0%, #000 58%, #000 98%);
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        transition: left 0.3s ease-in-out;
        z-index: 10;
    }

    .nav.change {
        left: 0;
        /* Move o menu para dentro da tela */
    }

    .container-geral {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    /* Navbar */
    .navbar {
        padding: 20px;
    }

    .container-top {
        text-align: center;
        margin-bottom: 20px;
        padding: 20px;
    }

    .logo h1 {
        font-size: 18px;
        color: #ffffff;
    }

    /* Estilo da lista */
    .panel-content ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .panel-content li {
        display: flex;
        /* Alinha itens na mesma linha */
        align-items: center;
        /* Centraliza verticalmente */
        margin: 10px 0;
        gap: 11px;
        white-space: nowrap;
        /* Evita quebra de linha */
    }

    .panel-content a {
        text-decoration: none;
        color: #ffffff;
        display: flex;
        /* Para alinhar ícone e texto */
        align-items: center;
        /* Centraliza ícone e texto */
        font-size: 16px;
        /* font-weight: bold; */
        gap: 10px;
        /* Espaço entre ícone e texto */
    }

    .panel-content a:hover {
        color: #007BFF;
    }

    .icon {
        width: 20px;
        height: 20px;
        filter: invert(1);
    }

    /* Container Bottom */
    .container-bottom {
        margin-top: auto;
        text-align: center;
        padding: 20px;
        border-top: 1px solid #ccc;
    }

    .container-bottom p {
        margin: 0;
    }

    .container-bottom a {
        color: #d9534f;
        text-decoration: none;
        font-weight: bold;
    }

    .container-bottom a:hover {
        color: #c9302c;
    }

    /* Botão de fechar */
    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 24px;
        font-weight: bold;
        color: #ffffff;
        cursor: pointer;
        z-index: 15;
        transition: color 0.3s;
    }

    .close-btn:hover {
        color: #007BFF;
    }

    .menu-icon {
        width: 45px;  /* Ajuste o tamanho conforme necessário */
        height: 45px; /* Ajuste o tamanho conforme necessário */
        position: fixed;  /* Fixa a posição na tela */
        top: 48px;  /* Distância do topo */
        left: 51px;  /* Distância da esquerda */
        cursor: pointer;  /* Indicando que é clicável */
        /* filter: invert(1);   */
    }
    




}